body {
    width: 100%;
	height: 100%;
    background: linear-gradient(315deg, #ffe0fc,#9bc5ff);
      }
header {
    width: 100%;
	height: 0%;
    background-color:#001750;
    color:white;
    text-align:center;
    padding:5px;	 
}
nav {
    background-color:#679aff;
    height:0%;
    width:100%;
    padding:0%;
    text-align: center;
	word-spacing: 5.2em;
    border-width: 2px; 
    border-style: solid;
    border-color: #2950aa;
}
section {
    height:60%;
    width:60%;
    float:left;
    padding:5px;	
    text-align:center;
    margin-left: 10%;
}
.uni{
    background: linear-gradient(45deg, blue, white);
}
h2{
    text-align: center;
}
h1,u{
    text-align: center;
    color: #3e6eff;
    font-family: 'Spicy Rice';
}
aside {
    height: 3000px;
    width:150px;
    background-color:#5365a0;
    float:right;
    padding:0.5%;
    border-width: 7px; 
    border-style: solid;
    border-color: #000b50;  
}
footer {
    width: 100%;
	height: 8%;
    background-color:#001450;
    color:white;
    clear: inline-end;
    text-align:center;
    padding:5px;	
	
}
img{
    width: 20%;
	height: 100%;
    transition: 0.75s;
    margin: 0.25%;
    text-align: center;
    border-radius: 10%;
}
a{
    transition: .5s;
    color: #ffffff;
    font-family: 'Comic Sans MS';
}
.mudaSite:hover{
    color: #002150;
    transition: .25s;
}
.img{
    margin: auto 2%;
    border: .02cm solid black;
    margin-top: auto 100%;
}
main.area{
    margin: auto 2%;
    border: .02cm solid black;
    margin-top: 3%;
    border-radius: 30px;
    background-color: #fff;
}
div.span{
    margin-left: 10%;
    margin-right: 10%;
}
.img:hover{
    animation-name: pulse;
    animation-duration: 1s;
    transition: 0.75s;
    border-radius: 25%;
}
@keyframes pulse{
    0%,100%{
        transform: scale(1);
    }
    25%,75%{
        transform: scale(.95);
    }
    50% {
        transform: scale(1.05);
    }
}